.main {
	padding-inline: clamp(0.625rem, -2.8641rem + 14.8867vw, 15rem);

	max-inline-size: 100vw;
}

/* Scheme */

.main__scheme {
	margin-block-start: clamp(6.25rem, 5.4915rem + 3.2362vw, 9.375rem);
}

.main__step-list {
	margin-block-start: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);

	display: flex;
	justify-content: center;
	gap: 30px;
}

.main__step-list-item {
	inline-size: clamp(15.625rem, 14.4114rem + 5.178vw, 20.625rem);
}

.main__step-label {
	margin-block-end: clamp(0.625rem, 0.3216rem + 1.2945vw, 1.875rem);

	display: block;

	font-weight: 400;
	font-size: 48px;
	line-height: 1.5;
	color: var(--supporting-color);
}

.main__step-title	{
	margin-block-end: 10px;
	font-weight: 500;

	font-family: var(--main-ff);
}

.main__step-description {
	color: var(--silent-color);
}

.main__scheme-arrows {
	display: none;
}

.main__scheme-stepping {
	padding-inline: 20px;
	padding-block: 10px;
}

.main__scheme-backform-btn {
	margin-block-start: 15px;
	margin-inline: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
	color: var(--supporting-color);
	font-family: inherit;
	font-weight: 700;

	border: none;
	background: transparent;
	cursor: pointer;

	transition: all 0.3s ease;
}

.main__scheme-backform-btn:hover {
	transform: scale(1.1);
}

.main__scheme-backform-btn::after,
.main__scheme-backform-btn::before {
	content: "";

	width: 40px;
	height: 1px;

	opacity: 0.75;
	background: url('../../svg/mainSvgs/blue-stick.svg')
}

.burger__contact-button {
	margin: 0;
	margin-inline: auto;

	block-size: 7.5%;
}

/* Projects */

.main__projects {
	margin-block-start: clamp(6.25rem, 5.4915rem + 3.2362vw, 9.375rem);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
}

.main__projects-list {
	margin-block-start: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);

	inline-size: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

.main__projects-list-item {
	max-block-size: 500px;
	inline-size: 100%;

	display: grid;
	grid-template-columns: 60% 40%;

	border: 1px solid #00000048;
	border-radius: 25px;
	box-shadow: 0px 0px 5px 1px #00000048;
}

.main__project-image {
	max-block-size: 498px;

	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;

	border-inline-end: 1px solid #00000048;
}

.main__project-text-content {
	padding: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}


.main__projects-list-item:nth-child(2n) {
	grid-template-columns: 40% 60%;
}

.main__projects-list-item:nth-child(2n) .main__project-text-content {
	grid-row: 1;
	grid-column: 1;
}

.main__projects-list-item:nth-child(2n) .main__project-image {
	grid-column: 2;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;

	border-inline-start: 1px solid #00000048;
	border-inline-end: none;
}

/* Companies */

.main__companies {
	margin-block-start: clamp(6.25rem, 5.4915rem + 3.2362vw, 9.375rem);
}

.main__companies-container {
	margin-block-start: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);

	display: flex;
	justify-content: space-between;
}

.main__company {
	padding-block: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);
	padding-inline: 50px;

	max-inline-size: 100%;
	inline-size: 48%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	cursor: pointer;

	animation: company-hover-back 0.25s ease;
}

.main__company-title {
	font-weight: 300;

	animation: coloring-hover-back 0.25s ease;
}

.main__company-image {
	max-inline-size: clamp(7.8125rem, 6.6748rem + 4.8544vw, 12.5rem);
	max-block-size: clamp(3.125rem, 2.7458rem + 1.6181vw, 4.6875rem);;
}

.main__company-textes {
	display: flex;
	flex-direction: column;
}

.main__company-description {
	font-size: clamp(0.75rem, 0.568rem + 0.7767vw, 1.5rem);
}

.main__company:hover {
	animation: company-hover 0.25s ease;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

.main__company:hover .main__company-title {
	animation: coloring-hover 0.25s ease;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

/* About us */

.main__about-us {
	margin-block-start: clamp(6.25rem, 5.4915rem + 3.2362vw, 9.375rem);
}

.main__about-us-context {
	margin-block-start: clamp(3.125rem, 2.3665rem + 3.2362vw, 6.25rem);

	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	gap: clamp(3.125rem, 2.0631rem + 4.5307vw, 7.5rem);
}

.main__about-us-image {
	inline-size: 350px;
	block-size: 300px;

	box-shadow: 0 0 3px 1px #00000085;
	border-radius: 250px;
}

.main__about-context-title {
	margin-block-end: clamp(0.9375rem, 0.71rem + 0.9709vw, 1.875rem);

	font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
	font-weight: 300;
}

.main__about-context-description {
	margin-block-start: 15px;
}