@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans";
	src: url("../fonts/NotoSans.ttf");
	font-display: swap;
}