@media (width <= 1600px) {
	.header__tel {
		display: none;
	}

	.footer__props {
		flex-direction: column;
		gap: 5px;
	}
}

@media (width <= 1400px) {
	.header__nav-list {
		display: none;
	}

	.header__burger-cont {
		display: flex;
		justify-content: center;

		opacity: 0.6;
	}

	.header__burger-cont:hover {
		animation: icons-hover 0.2s linear;
		animation-delay: 0.1s;
		animation-fill-mode: forwards;
	}

	.header__logo-link {
		border: none;
	}
}

@media (width <= 1100px) {
	.header__links {
		margin: 0;
	}

	.header__facts-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex-wrap: wrap;
		gap: 10px;
	}

	.header__facts-item {
		inline-size: clamp(15.625rem, 14.8665rem + 3.2362vw, 18.75rem);

		inline-size: 100%;
		block-size: 100%;

		border: 1px solid #EBEBF033;
	}

	.main__step-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 50px;
		row-gap: 15px;
	}

	.main__step-list-item {
		inline-size: 100%;
		block-size: 100%;
	}

	.main__step-label {
		line-height: 2;
	}

	.backform {
		grid-template-columns: 1fr;
	}

	.backform-container {
		grid-column: auto;
		grid-row: auto;
	}

	.backform__secured {
		grid-column: auto;
		grid-row: auto;
	}

	.main__about-us-context {
		grid-template-columns: 1fr;
		
		gap: 25px;

		text-align: center;
	}

	.main__about-us-image {
		margin-inline: auto;

		inline-size: 75%;
		block-size: auto;
		
		border-radius: 50px;
	}

	.footer__contacts {
		flex-direction: column;
	}

	.footer__top {
		flex-direction: column;
		gap: 15px;
	}

	.burger {
		inline-size: 35vw;
	}

	.main__catalog-list {
		inline-size: 100%;
		grid-template-columns: 1fr 1fr;
	}
}

@media (width <= 800px) {
	.main__catalog-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.main__company {
		inline-size: 100%;
		padding: 5px;
		display: flex;
		justify-content: start;
	}

	.main__companies-container {
		display: grid;
		grid-template-columns: 1fr;
	}

	.main__company:not(:last-child) {
		border-block-end: 1px solid var(--silent-color);
	}

	.backform {
		inline-size: 80%;
	}

	.footer__main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 20px;
	}

	.footer__country-house-title,
	.footer__commercial-space-title {
		text-align: center;
	}

	.footer__links-list {
		margin-inline-start: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	.footer__companies-list {
		margin-inline-start: 0;
		margin-inline: auto;
	}

	.footer__companies {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		grid-row: 2;
		grid-column: -1 / 1;
	}

	.footer__companies-list-item {
		text-align: center;
	}
}

@media (width <= 660px) {
	.h2::before {
		inline-size: 100px;
	}

	.header__consultation-button {
		display: none;
	}

	.header__calling {
		display: flex;
		justify-content: center;
		align-items: center;

		border: none;
	}

	.header__title {
		line-height: 1;
	}

	.main__catalog-list-item {
		cursor: pointer;
	}

	.main__catalog-list-item:hover {
		animation: none;
	}

	.main__show-full {
		display: none;
	}

	.main__companies-container {
		gap: 0;
	}

	.main__company {
		animation: none
	}

	.main__company:hover {
		animation: none
	}

	.main__company-title {
		animation: none;
	}

	.main__company:hover .main__company-title {
		animation: none;
	}

	.main__catalog-list-item:hover {
		transform: scale(1.03);
	}

	.backform {
		inline-size: 85%;
	}

	.main__about-us-image {
		inline-size: 85%;
	}

	.burger {
		inline-size: 50vw;
	}

	.main__projects-list-item, 
	.main__projects-list-item:nth-child(2n){
		grid-template-columns: 1fr;
	}

	.main__project-image,
	.main__projects-list-item:nth-child(2n) .main__project-image {
		height: 100%;

		border-radius: 0;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	
		border-top: 1px solid #00000048;

		grid-column: 1;
		grid-row: 2;
	}

	.main__project-text-content,
	.main__projects-list-item:nth-child(2n) .main__project-text-content {
		grid-column: 1;
		grid-row: 1;
	}
}

@media (width <= 520px) {
	.header__bottom {
		width: 100%;
	}

	.header__facts-list {
		width: 100%;

		display: block;
	}

	.header__facts-item:not(.active__fact) {
		width: 100%;

		display: none;
	}

	.header__facts-item {
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
		opacity: 0;
		transform: translateY(20px);
	}

	.backform__input {
		padding: 8px;
	}

	.backform__button {
		padding-inline: 30px;
	}

	.active__fact {
		inline-size: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;

		border:none;
		border-block-start: 1px solid #EBEBF033;

		opacity: 1;
		transform: translateY(0)
	}

	.main__step-list {
		width: 100%;
		display: block;
	}

	.active__step {
		inline-size: 100%;
		block-size: 275px;

		border-block: 1px solid var(--silent-color);
	}

	.active__step .main__step-description {
		margin-block-end: 15px;
	}

	.main__step-list-item:not(.active__step) {
		width: 100%;

		display: none;
	}

	.main__scheme-arrows {
		margin-block-start: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.main__catalog-list {
		grid-template-columns: 1fr;
	}

	.backform {
		inline-size: 90%;
		gap: 10px;
	}

	.backform-container {
		gap: 10px;
	}

	.main__about-us-image {
		inline-size: 90%;
		border-radius: 30px;
	}

	.footer__main {
		grid-template-columns: 1fr;
		row-gap: 25px;
	}

	.burger {
		inline-size: 65vw;
	}

	.main__catalog-list-item:first-child,
	.main__catalog-list-item:nth-child(2), 
	.main__catalog-list-item:nth-child(3), 
	.main__catalog-list-item:nth-child(4), 
	.main__catalog-list-item:nth-child(5), 
	.main__catalog-list-item:nth-child(6),
	.main__catalog-list-item:last-child {
		background-size: cover;
	}

	.main__catalog-list-item:hover {
		transform: none;
		background-size: cover;
	}

	.main__catalog-list-item-commercial:hover {
		transform: none;
		background-size: cover;
	}

	.main__catalog-list-item-commercial:nth-child(2):hover,
	.main__catalog-list-item-commercial:last-child:hover {
		transform: none;
		background-size: cover;
	}

	.button:hover:not(.header__consultation-button) {
		transform: none;
	}

	.burger__links-list {
		block-size: 70%;
	}

	.burger__contact-button {
		block-size: 30%;
	}
}

@media (width <= 400px) {
	.burger {
		inline-size: 75vw;
	}
}